<div class="flex flex-col gap-10 items-center justify-center min-h-screen bg-sky-300">
    <p-toast />
    <div class="w-full max-w-md text-center">
    </div>
  
    <p-card class="w-full max-w-md">
      <form [formGroup]="FormLogin" (submit)="login()" novalidate class="flex flex-col gap-6 items-center">
        <div class="w-full flex flex-col gap-4">
          <div class="py-4">
            <p class="text-2xl text-center font-medium" style="color: black;">Iniciar Sesión</p>
          </div>
          <p-floatlabel variant="in">
            <input pInputText formControlName="login" class="w-full" style="color: black;"/>
            <label for="in_label">Usuario</label>
          </p-floatlabel>
          <p-floatlabel variant="in">
            <p-password inputId="in_label" formControlName="password" [feedback]="false" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" />
            <label for="in_label">Contraseña</label>
          </p-floatlabel>
        </div>
  
        <div class="w-full flex flex-col mb-5">
          <button pButton type="submit" label="Iniciar Sesión" class="w-full" severity="info" style="color: white;"></button>
        </div>
      </form>
    </p-card>
</div>